<!DOCTYPE html "-//W3C//DTD  1.0 //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta http-equiv="refresh" content="15"/>
  <title>Statistiques sur la clé Internet</title>
  <style>
      body {
          background-color: #607860;
      }

      .center {
          text-align: center;
      }

      .right {
          text-align: right;
      }

      .main {
          margin-left: auto;
          margin-right: auto;
          padding: 10px;
          width: 70%;
          background-color: #b0deb0;
      }

      a:link {
          text-decoration: none;
          color: #000000;
      }

      a:visited {
          text-decoration: none;
          color: #000000;
      }

      a:hover {
          text-decoration: underline;
      }

      a:active {
          text-decoration: underline;
      }

      .big {
          font-size: 30px;
      }

      .medium {
          font-size: 20px;
      }

      .small {
          font-size: 10px;
      }
  </style>
</head>
<body>
<div class="main">
  <h1>Information about Mobile-connection</h1>

  <% if $MobileControl %>
      <ul>
        <li>USB-modem is
          <%= $MobileControl.device ? 'Present' : 'MISSING' %>
        </li>
        <li>Operator is
          <%= begin
                $MobileControl.operator.name
              rescue NoMethodError => e
                'MISSING'
              end %></li>
        <li>Promotion left: <%= begin
                                  "#{$MobileControl.operator.internet_left / 1000}k"
                                rescue NoMethodError => e
                                  'MISSING'
                                end %>
        </li>
        <li>Internet is
          <%= begin
                $MobileControl.is_connected ? 'Connected' : 'Disconnected'
              rescue NoMethodError => e
                'MISSING'
              end %></li>
        <li>Last SMS received:
          <ul>
            <%=
                SMSs.last(5).reverse.collect { |sms|
                  "<li>#{sms.date}::#{sms.phone}:: ::#{sms.text}</li>"
                }.join
            %></ul>
        </li>
        <li>
          <%= if mails = /.* ([0-9]+) Request.*/.match(%x[ postqueue -p | tail -n 1 ])
                "#{mails[1]} mails in queue"
              else
                'No mails in queue'
              end
          %></li>
      </ul>
  <% else %>
      <h2>MobileControl is disabled</h2>
  <% end %>
</div>
</body>
</html>
